<!DOCTYPE html>
<html data-theme="winter">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css"
            rel="stylesheet"
            type="text/css" />
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    </head>
    <body
        class="container mx-8 h-screen grid grid-cols-6 justify-center gap-8 px-8">
        <header class="col-span-2">
            <h1 class="text-2xl font-semibold">Hello in Members-only app!</h1>
            <% if (user) { %>
            <h5>Logged in as <%= user.username %> <%= user.status %>!</h5>
            <% } else { %>
            <h5 class="text-teal-200">Not logged in</h5>
            <%}%> <% if (user) { %>
            <form action="/log-out">
                <button type="submit" class="btn btn-sm">Log out</button>
            </form>
            <a href="/create-message" class="link">Create Message</a>
            <% } else { %>
            <a href="/sign-up">Sign up</a>/
            <a href="/sign-in">Sign in</a>
            <%}%>
        </header>
        <main class="col-span-4">
            <h1>User posts</h1>
            <% if (messages) { %>
            <div class="flex flex-col gap-4 border-4">
                <% messages.forEach(function(message) { %>

                <div class="card w-96 bg-base-100 shadow-xl">
                    <form
                        class="card-body"
                        action="/delete-message"
                        method="post">
                        <h2 class="card-title"><%= title %></h2>
                        <p><%= message.content %></p>
                        <% if (user) { %>
                        <p><%= message.owner.username %></p>
                        <p><%= message.date_formatted %></p>
                        <% if (user._id == message.owner._id.toString()) { %>
                        <input
                            type="hidden"
                            name="message_id"
                            value="<%= message._id %>" />
                        <input
                            type="hidden"
                            name="message_owner"
                            value="<%= message.owner._id.toString() %>" />
                        <div class="card-actions justify-end">
                            <button
                                type="submit"
                                class="btn btn-sm btn-primary">
                                Delete Message
                            </button>
                        </div>
                        <% } %> <% } %>
                    </form>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>No messages yet</p>
            <%}%>
        </main>
    </body>
</html>
