<!DOCTYPE html>
<html data-theme="winter">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css"
            rel="stylesheet"
            type="text/css" />
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    </head>
    <body
        class="container mx-8 h-screen grid grid-cols-6 justify-center gap-8 px-8">
        <header class="prose col-span-2 mt-16">
            <h1 class="font-semibold">Hello in <i>Members-only </i>app!</h1>
            <p>
                If you are not logged in you can only see the messages, but not
                the authors and when messages were added. <br />
            </p>
            <% if (user) { %>
            <h3 class="py-4">
                Logged in as <i><%= user.username %> </i> <br />
                Your current status is
                <p class="underline underline-offset-4 inline">
                    <%= user.status %>
                </p>
            </h3>
            <% } else { %>
            <h3 class="">Not logged in</h3>
            <a href="/sign-up" class="link text-lg">Sign up</a> /
            <a href="/sign-in" class="link text-lg">Sign in</a>
            <%}%> <% if (user) { %>
            <form action="/log-out" class="fixed bottom-8 left-8">
                <button type="submit" class="btn btn-sm bg-blue-600">
                    Log out
                </button>
            </form>
            <a href="/create-message" class="link text-lg">Create Message</a>
            <br />
            <% if ( user.status !== "ADMIN" ) { %>
            <a href="/become-admin" class="link text-green-500 text-lg my-8"
                >Become an Admin!</a
            >
            <% } { %> <% } %> <%}%>
        </header>
        <main class="prose col-span-4 m-16 flex flex-col gap-4 items-center">
            <h2>All messages from users:</h2>
            <% if (messages) { %>
            <div class="flex flex-col gap-4">
                <% messages.forEach(function(message) { %>

                <div class="card w-96 bg-base-100 shadow-xl">
                    <form
                        class="card-body"
                        action="/delete-message"
                        method="post">
                        <h2 class="card-title"><%= message.title %></h2>
                        <div class="flex flex-row gap-x-4">
                            <p><%= message.content %></p>
                        </div>
                        <% if (user) { %>
                        <div class="flex flex-row gap-x-4">
                            <p><b>Author: </b><%= message.owner.username %></p>
                            <p><b>Added: </b> <%= message.date_formatted %></p>
                        </div>
                        <% if (user._id == message.owner._id.toString() ||
                        user.status === "ADMIN") { %>
                        <input
                            type="hidden"
                            name="message_id"
                            value="<%= message._id %>" />
                        <input
                            type="hidden"
                            name="message_owner"
                            value="<%= message.owner._id.toString() %>" />
                        <div class="card-actions justify-end">
                            <button type="submit" class="btn btn-info btn-sm">
                                Delete Message
                            </button>
                        </div>
                        <% } %> <% } %>
                    </form>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>There are no messages yet</p>
            <%}%>
        </main>
    </body>
</html>
